<div>
  <div class="form-group">
    <%= form_for @project do |f| %>
    <% if @project.errors[:name].empty? %>
      <%= f.label "Project Name", :class => "h4" %>
      <%= f.text_field :name  %>
    <% else %>
      <%= f.label "Project Name" %>
      <%= f.text_field :name, :class => "card border-warning mb-3" %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <h4>Materials:</h4>
         <%= f.fields_for :materials do |material_form| %>
           <div>
             <%= material_form.label :name %>
             <%= material_form.text_field :name %>
           </div>
       <% end %>
  </div>

  <div class="form-group">
    <%= f.label "Instructions", :class => "h4" %>
    <%= f.text_area :instructions, :class => "exampleTextarea" %>
  </div>

  <div class="form-group">
    <%= f.label "Categories", :class => "h4" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, :class => "form-check-label" %><br>
    <%= f.fields_for :categories, @project.categories.build do |categories_field| %>
      <br><%= f.label "And/or Create New Categories", :class => "h4" %>
      <%= categories_field.text_field :name %>
    <% end %>
  </div>

    <%= f.hidden_field :user_id, :value => current_user.id  %>

    <%= f.submit :class =>"btn btn-primary"%>
  <% end %>
  <br>
</div>