<!DOCTYPE html>
<html>
  <head>
    <title>SewingRailsPortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   </head>

   <body>
   <%=render partial: 'layouts/navigation' %>
   <%= render partial: 'layouts/errors' %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <%= yield %>

 </body>
 <%= render partial: 'layouts/footer' %>
</html>
